html,
body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

body {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.formbody {

}


#leaves {
    height: auto;
    width: 30%;
}