:root {
    --green-buttons: #596D48;
    --input-borders: #E5E7EB;
    --dark-font:  #1e1e1e;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

body {
    display: flex;
}

h1 {
    color: var(--dark-font);
    margin-left: 42px;
}

.line1 {
    margin-top: 4em;
}

.line2 {
    margin-top: 0;
    margin-bottom: 42px;
}

form {
    display: flex;
    flex-direction: column;
}

.line3 {
    background: white;
    margin: 0;
    padding: 1em;
}

.formbody {
    background-color: white;
    height: 40%;
    padding-left: 32px;

}


#leaves {
    height: auto;
    width: 30%;
}

.createacc {
    background-color: var(--green-buttons);
    color: white;
    width: fit-content;
    padding: 8px;
   /* width: 20%;*/
    margin-top: 32px;
    margin-left: 32px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    height: 2em;
}

.bottomtxt {
    display: flex;
    margin: 16px 16px 64px 32px;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: var(--green-buttons);
    margin: 1em;
}

.label, .input {
    flex-basis: 50%;
}